Quiz/READMEmd
*.xml
*.xml
*.iml
*.xml
*.xml
*.xml
Quiz/.idea/inspectionProfiles/profiles_settings.xml
Quiz/.idea/misc.xml
Quiz/.idea/modules.xml
*.iml
/Quiz
# Default ignored files
/shelf/
/workspace.xml
.idea/
__pycache__/
*.pyc
*.log
*.tmp
